.input {
  width: 100%;
  border: 1px solid #aaa9a9;
  border-radius: 0.5rem;
  padding: 0.875rem 2.45rem 0.875rem 1.5rem;
  font-size: 1rem;
  color: #374151;
  outline: none;
  transition: border-color 0.2s ease;

  &::placeholder {
    color: #8F8F8F;
    font-size: 20px;
    font-weight: 300;
  }

  &:focus {
    border-color: #14b8a6; // teal-500
  }
}

.form_button {
  margin-top: 26px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background-color: #009688;
  padding: 16px 0 16px 0;
  font-weight: 600;
  color: white;
  transition: color 0.2s ease;

  &.form_button {
    background-color: #08877AFF;
  }
}

.otpContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.otpInput {
  width: 280px;
  padding: 12px 0;

  border: none;
  border-bottom: 2px solid #d1d5db;

  outline: none;
  background: transparent;

  font-size: 32px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 24px;

  &:focus {
    border-bottom-color: #14b8a6;
  }

  &::placeholder {
    letter-spacing: 24px;
    color: #9ca3af;
  }
}

.form_button_resend {
  width: 100%;
  margin-top: 12px;
  padding: 10px 0;
  background: transparent;
  border: none;
  color: #009688; // asosiy rangingizga moslang
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease;

  &:hover:not(:disabled) {
    color: darken(#009688, 10%);
    text-decoration: underline;
  }

  &:disabled {
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
    text-decoration: none;
  }
}