.hero_bg_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.7) 100%), url("/src/assets/Images/Png/hero_banner.png");
}
.button {
  border-radius: 9999px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 17px 26px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  transition: all 0.2s ease;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
.request_button {
  border-radius: 9999px;
  background-color: #047857;
  padding: 17px 26px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  transition: all 0.2s ease;

  &:hover {
    background-color: #065f46;
  }
}

.title {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.25;
  color: #fff;
}