.hero_bg_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.7) 100%), url("/src/assets/Images/Png/hero_banner.png");
}